.card-cart-container{

    border-bottom: 1px solid #d4d4d4;
    padding:10px
}

.cart-details{
    display: flex;
    gap:20px;
    position: relative;
}
.cart-details p{
    margin: 0;
    color: rgb(96, 100, 112);
    font-size: 14px;
}
.bottom-control{
    display: flex !important;
    gap:5px;

}

.controler{
    font-size: 14px !important;
    margin-top: 10px !important;
}

.quantity{
    width: 60px !important;
}

.delete-icon{
    position:absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: orangered;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-icon:hover{
    color: orange;
}

.out-of-stock{
    position:absolute;
    background-color: #888888a8;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.out-of-stock h4{
    font-style: italic;
}