.order-container{
    background-color: rgb(250, 250, 250);
    display: flex;
    gap:20px;
    padding: 10px;
    border-bottom: 1px solid silver;
    
}

.order-container p{
    font-size: 14px;
    color: rgb(97, 97, 97);
    margin: 0 0 12px 0;
}

.price{
    font-weight: 500;
    color: orangered;
}

.order-id{
    font-size: 12px !important;
}