.allProducts{
  

   
  width: 100%;
  margin: 50px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  justify-items: center;
}